TEST/services/Service1_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Service1"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Service1OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Service1OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Service1OperationRequest">
		<wsdl:part name="parameters" element="tns:Service1OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Service1OperationResponse">
		<wsdl:part name="parameters" element="tns:Service1OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Service1PortType">
		<wsdl:operation name="Service1Operation">
			<wsdl:input message="tns:Service1OperationRequest"></wsdl:input>
			<wsdl:output message="tns:Service1OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Service1Binding" type="tns:Service1PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Service1Operation">
			<soap:operation soapAction="http://www.talend.org/service/Service1Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Service1">
		<wsdl:port name="Service1Port" binding="tns:Service1Binding">
			<soap:address location="http://localhost:8090/services/Service1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>