TEST/services/service2_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="service2"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="service2OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="service2OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="service2OperationRequest">
		<wsdl:part name="parameters" element="tns:service2OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="service2OperationResponse">
		<wsdl:part name="parameters" element="tns:service2OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="service2PortType">
		<wsdl:operation name="service2Operation">
			<wsdl:input message="tns:service2OperationRequest"></wsdl:input>
			<wsdl:output message="tns:service2OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="service2Binding" type="tns:service2PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="service2Operation">
			<soap:operation soapAction="http://www.talend.org/service/service2Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="service2">
		<wsdl:port name="service2Port" binding="tns:service2Binding">
			<soap:address location="http://localhost:8090/services/service2" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>